.App {
  text-align: center;
}

body {
  background-image: url('/src/images/background.png');
  color: white;
}

header {
  font-size: 52px;
  text-align: center;
}

.solar-system {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 42px;
  align-self: center;
  border: solid rgb(134, 131, 131) 1px;
  border-radius: 7px;
  padding: 10px 400px;
}

.planet-section {
  display: flex;
  align-self: center;
}

.planet-card {
  display: flex;
  flex-direction: column;
  width: 200px;
  text-align: center;
}
